.featured-product {
  width: 342px;
}
.featured-product__img {
  width: 100%;
  border-radius: 1.2rem 1.2rem 0 0;
  background-color: #DEDEDE;
}
.featured-product__info {
  padding: 2.4rem;
  background-color: #F8F8F8;
  border-radius: 0 0 1.2rem 1.2rem;
}