.featured-product {
  border-radius: 0.6rem;
  width: 342px;
}
.featured-product__img {
  width: 100%;
  border-radius: 1.2rem 1.2rem 0 0;
}
.featured-product__info {
  padding: 2.4rem;
  border-radius: 0 0 1.2rem 1.2rem;
}