.featured-products__block {
  display: grid;
}
.featured-products__desktop-cols-1 {
  grid-template-columns: repeat(1, 1fr);
}
.featured-products__desktop-cols-2 {
  grid-template-columns: repeat(2, 1fr);
}
.featured-products__desktop-cols-3 {
  grid-template-columns: repeat(3, 1fr);
}