.featured-products__block {
  display: grid;
  justify-content: center;
  gap: 51px;
}
.featured-products__desktop-cols-3 {
  grid-template-columns: repeat(3, minmax(0, 342px));
}
.featured-products__desktop-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 512px));
}
.featured-products__title {
  text-align: center;
}

@media screen and (max-width: 1200px) {
  .featured-products__desktop-cols-3 {
    grid-template-columns: repeat(2, minmax(0, 342px));
  }
}
@media screen and (max-width: 1024px) {
  .featured-products__desktop-cols-2 {
    grid-template-columns: repeat(1, minmax(0, 512px));
  }
}
@media screen and (max-width: 768px) {
  .featured-products__desktop-cols-3, .featured-products__desktop-cols-2 {
    grid-template-columns: repeat(1, minmax(0, 342px));
  }
}