.blog-placeholder {
  margin: 0 1.5rem;
  background: rgb(var(--color-background));
}
.blog-placeholder .blog-placeholder__content {
  padding: 3rem;
  background: rgba(var(--color-foreground), 0.04);
}
.blog-placeholder .placeholder {
  position: relative;
}
.blog-placeholder h2 {
  margin: 0;
}
.blog-placeholder .rte-width {
  margin-top: 1.2rem;
  color: rgba(var(--color-foreground), 0.75);
}
@media screen and (min-width: 750px) {
  .blog-placeholder {
    text-align: center;
    width: 50%;
    margin: 0;
  }
}

.blog {
  padding-top: 30px;
  padding-bottom: 30px;
}
.blog .blog__title {
  margin: 0;
}
.blog .blog__posts.articles-wrapper {
  margin-bottom: 1rem;
}
.blog .blog__posts.articles-wrapper .article {
  scroll-snap-align: start;
}
.blog .blog__posts .card-wrapper {
  width: 100%;
}
.blog .blog__button {
  margin-top: 3rem;
}
@media screen and (max-width: 749px) {
  .blog .blog__post.article {
    width: calc(100% - 3rem - var(--grid-mobile-horizontal-spacing));
  }
}
@media screen and (min-width: 750px) {
  .blog .blog__button {
    margin-top: 5rem;
  }
}
@media screen and (min-width: 990px) {
  .blog .blog__posts.articles-wrapper {
    margin-bottom: 0;
  }
}

/* check for flexbox gap in older Safari versions */
@supports not (inset: 10px) {
  @media screen and (min-width: 750px) {
    .blog__posts .article + .article {
      margin-left: var(--grid-desktop-horizontal-spacing);
    }
  }
}