.section-header.shopify-section-group-header-group {
  z-index: 3;
}

.shopify-section-header-sticky {
  position: sticky;
  top: 0;
}

.shopify-section-header-hidden {
  top: calc(-1 * var(--header-height));
}

.shopify-section-header-hidden.menu-open {
  top: 0;
}

.section-header.animate {
  transition: top 0.15s ease-out;
}

.shopify-section-group-header-group {
  z-index: 4;
}

.section-header ~ .shopify-section-group-header-group {
  z-index: initial;
}

/* Main Header Layout */
.header-wrapper {
  display: block;
  position: relative;
  color: #121212bf;
  background-color: #fff;
}

.header {
  display: grid;
  grid-template-areas: 'left-icons heading icons';
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;

  *[tabindex='-1']:focus {
    outline: none;
  }

  @media screen and (min-width: 990px) {
    grid-template-columns: 1fr auto 1fr;
    padding-top: 20px;
    padding-bottom: 20px;

    &.header--middle-left {
      grid-template-areas: 'heading navigation icons';
      grid-template-columns: auto auto 1fr;
      column-gap: 2rem;

      .header__heading-link {
        margin-left: -0.75rem;
      }
    }
  }

  @media screen and (max-width: 749px) {
    &.header--has-app {
      grid-template-columns: auto 1fr auto;
    }
  }
}

.header__heading {
  margin: 0;
  line-height: 0;
}

.header__heading,
.header__heading-link {
  grid-area: heading;
  justify-self: center;

  @media screen and (max-width: 989px) {
    text-align: center;
  }

  @media screen and (min-width: 990px) {
    justify-self: start;
  }
}

.header__heading-link {
  display: inline-block;
  padding: 0.75rem;
  text-decoration: none;
  word-break: break-word;

  &:hover .h2 {
    color: #121212;
  }

  .h2 {
    line-height: 1;
    color: #121212bf;
  }
}

.header__heading-logo {
  height: auto;
  max-width: 100%;
}

.header__heading-logo-wrapper {
  width: 100%;
  display: inline-block;
  transition: width 0.3s cubic-bezier(0.52, 0, 0.61, 0.99);
}

/* Header icons */
.header__icons {
  display: flex;
  grid-area: icons;
  justify-self: end;

  .shopify-app-block {
    max-width: 4.4rem;
    max-height: 4.4rem;
    overflow: hidden;
  }
}

.header__icon {
  color: rgb(var(--color-foreground));

  &::after {
    content: none;
  }

  &:not(.header__icon--summary),
  span {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  span {
    height: 100%;
  }

  .icon {
    height: 2rem;
    width: 2rem;
    fill: none;
    vertical-align: middle;
  }
}

.header__icon .header__icon .header__icon:hover .icon,
.modal__close-button:hover .icon {
  transform: scale(1.07);
}

.header__icon,
.header__icon--cart .icon {
  height: 4.4rem;
  width: 4.4rem;
  padding: 0;
}

.header__icon--cart {
  position: relative;
  margin-right: -1.2rem;
}

.header__icon--menu[aria-expanded='true']::before {
  content: '';
  top: 100%;
  left: 0;
  height: calc(var(--viewport-height, 100vh) - (var(--header-bottom-position, 100%)));
  width: 100%;
  display: block;
  position: absolute;
  background: rgba(var(--color-foreground), 0.5);
}
